body {
  margin: 0;
  color: white;
  background-color: #804a45;
  font-family: "Helvetica", "Roboto", sans-serif;
  font-size: 18px;
}

main {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.5em;
  margin-bottom: 0;
}

p {
  font-size: 1em;
}